.vl-admin #adminmenumain {
    display: none;
}

.vl-admin #adminmenumain, .vl-admin #wpadminbar, .vl-admin #wpfooter {
    display: none;
}

.vl-admin *, .vl-admin *:before, .vl-admin *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vl-admin #wpcontent, .vl-admin #wpfooter {
    margin-left: 0px;
    padding-left: 0px;
}

.vl-admin #wpbody-content {
    padding-bottom: 0;
}

.vl-admin #wpbody-content > #screen-meta,
.vl-admin #wpbody-content > #screen-meta-links {
    display: none;
}

.vl-admin #wpbody-content > .updated,
.vl-admin #wpbody-content > .error,
.vl-admin #wpbody-content > .notice {
    display: none;
}

html.wp-toolbar{
    padding-top: 0px;
}

.vl-admin .card{
    max-width: 100%!important;
    padding: 0;
}

/* .sidebar{
    display: none;
} */

.vl-admin select.form-control{
    max-width: 100% !important;
    background-image: none ;
    font-size: 1rem !important;
}
.vl-admin .form-control {
    border: 1px solid #ced4da;
}

.toggle.btn-lg {
    min-width: 140px !important; 
}

.vl-admin .sidebar-menu-item a:focus{
    box-shadow: none !important;
    outline: none;
}


.back-dashboard__buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    width: 100%;
    width: 100%;
}

.back-dashboard__button {
    border-radius: 0;
    width: 50%;
    padding: 8px 12px;
    border: 0;
}
.back-dashboard__button:first-child {
    border-right: 1px solid #00000038; 
}

@media screen and (max-width: 600px){
.vl-admin #wpbody {
        padding-top: 0;
    }
}